$white: #ffffff;
$black: #053e4a;

* {
  box-sizing: border-box;
  font-family: 'Happy Monkey', cursive;
  font-weight: 900;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(255,218,75);
  background: linear-gradient(90deg, rgba(255,218,75,1) 35%, rgba(0,212,255,1) 100%);
  color: $black;
  &:before {
    animation: grain 8s steps(10) infinite;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
  }
  &.no-scroll {
    overflow-y: hidden;
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

//Header

.container {
  font-family: 'Happy Monkey', cursive;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: auto;
  height: 100%;
  &.fluid {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
  }
  @media (min-width: 1216px) {
    max-width: 1152px;
  }
  @media (min-width: 1408px) {
    max-width: 1560px;
  }

  .row {
    display: flex;
    align-items: center;
    &.space-between {
      justify-content: space-between;
    }
    &.center {
      justify-content: center;
    }
  }
}

header {
  font-family: 'Happy Monkey', cursive;
  font-size: 16px;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-weight: "700";
  .container {
    .row {
      height: 128px;
      .logo {
        cursor: url(./images/cursor.png), auto;
        .logo-img {
          top: 25px;
          left: 310px;
          width: 160px;
          object-fit: contain;
        }

      }
      .menu {
        cursor: url(./images/cursor.png), auto;
        font-family: 'Happy Monkey', cursive;
        border-radius: 100%;
        border: 1px solid $black;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $white;
          background: #feca00;
        }
      }
    }
  }
}

.login-for-acces{
  position: absolute;
  width: 900px;
  margin-left: 680px;
  margin-top: -1185px;
  align-items: center;
  #title-login {
    font-size: 2rem;
  }
  input {
    margin: 10px;
    height: 58px;
    padding: 0 64px;
    width: 300px;
    border-radius: 50px 20px;
    border: none;
    font-size: 14px; 

    outline: none;
    color: black;
    &::placeholder {
      color: grey;
    }
  }
  button {
    margin: 10px;
    height: 88px;
    padding: 0 64px;
    width: 200px;
    border-radius: 50px 20px;
    border: none;
    font-size: 14px; 

    outline: none;
    color: black;
    &::placeholder {
      color: grey;
    }
  }
}

.login-form {
  position: absolute;
  margin-left: 700px;
  margin-top: -1135px;
  align-items: center;
  #title-login {
    font-size: 2rem;
  }
  input {
    margin: 5px;
    height: 58px;
    padding: 0 64px;
    width: 300px;
    border-radius: 50px 20px;
    border: none;
    font-size: 14px; 

    outline: none;
    color: black;
    &::placeholder {
      color: grey;
    }
  }
  button {
    margin: 10px;
    height: 88px;
    padding: 0 64px;
    width: 200px;
    border-radius: 50px 20px;
    border: none;
    font-size: 14px; 

    outline: none;
    color: black;
    &::placeholder {
      color: grey;
    }
  }
}


main {
  .container {
    position: relative;
    .row {
      height: 100vh;
      align-items: center;
      .image-container {
        position: relative;
        .thumbnail {
          overflow: hidden;
          position: relative;
          .frame {
            img {
              width: 100%;
            }
          }
        }
        .information {
          cursor: url(./images/cursor.png), auto;
          position: absolute;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: -90px;
          text-transform: uppercase;
          .location {
            span:nth-child(2) {
              margin-left: 165px;
            }
          }
        }
      }
    }
  }
}

//single
.single {
  .container {
    .top-row {
      height: 50vh;
      width: 100%;
      align-items: flex-end;
      .top {
        padding-bottom: 40px;
        .details {
          cursor: url(./images/cursor.png), auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .location {
            span:nth-child(2) {
              margin-left: 6px;
            }
          }
          .mua {
            text-transform: uppercase;
          }
        }
        .model {
          overflow: hidden;
          .first {
            margin-right: 72px;
          }
          span {
            display: inline-block;
            position: relative;
            font-weight: 400;
            font-size: 224px;
            font-family: 'Happy Monkey', cursive;
            @media (max-width: 1440px) {
              font-size: 128px;
            }
          }
        }
      }
    }
    .bottom-row {
      height: 50vh;
      position: relative;
      .bottom {
        height: 100%;
        width: 100%;
        .thumbnail-single {
          width: 100%;
          height: 800px;
          margin: 0 auto;
          overflow: hidden;
          position: absolute;
          left: 0;
          right: 0;
          .frame-single {
            img {
              position: absolute;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.detailed-information {
  margin-top: 200px;
  height: 600px;
  .container {
    .row {
      justify-content: space-between;
      align-items: flex-start;
      h2 {
        font-size: 28px;
      }
      p {
        font-family: 'Happy Monkey', cursive;
        font-size: 26;
        line-height: 35px;
        font-weight: 600;
        width: 800px;
      }
    }
  }
}

.search-container {
  margin: 24px;
  margin-left: 570px;
  margin-top: -350px;
  .input-submit {
    height: 88px;
    padding: 0 64px;
    width: 200px;
    border-radius: 50px 20px;
    border: none;
    font-size: 14px; 

    outline: none;
    color: black;
    &::placeholder {
      color: grey;
    }
  }
  .input-text {
    height: 88px;
    padding: 0 64px;
    width: 700px;
    border-radius: 50px 20px;
    border: none;
    font-size: 14px; 

    outline: none;
    color: black;
    &::placeholder {
      color: grey;
    }
  }
}

.fullscreen {
  height: 100vh;
  .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .single-cat-img-div {
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, rgba(255,218,75,1) 35%, rgba(0,212,255,1) 100%);
      display: flex;
      align-items: center;
      justify-content: center;

      .single-cat-img-tag {
        width: 900px;
      }
    }
    .product-details {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inner {
        width: 780px;
        position: relative;
        .go-back {
          cursor: url(./images/cursor.png), auto;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0;
        }
        .category {
          font-size: 2rem;
          color: #263684;
          font-weight: 500;
          text-align: center;
          width: 100%;
          margin-bottom: 32px;
        }
        .single-cat-name{
          font-size: 6rem;
          color: #1e1f24;
          // font-weight: 500;
          // text-align: center;
          // width: 100%;
          // margin-bottom: 32px;
        }
        p {
          font-size: 2rem;
          color: #000000;
          font-weight: 300;
        }
        .additonals {
          font-size: 2rem;
          margin: 24px 0 48px;
          span {
            word-spacing: 10px;
            letter-spacing: 3px;
            margin-right: 16px;
            color: #000000;
          }
        }
        .qty-price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .qty {
            display: flex;
            align-items: center;
            .add,
            .minus {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
            }
            .add {
              border: 1px solid #282828;
              cursor: url(./images/cursor.png), auto;
            }
            .minus {
              margin-left: 0;
              background: #dfdfdf;
              color: #787878;
            }
          }
          .price {
            word-spacing: 5px;
            letter-spacing: 3px;
            color: #564f0b;
            font-weight: 700;
            font-size: 1.4rem;
          }
        }

        .btn-row {
          margin-top: 72px;
          display: flex;
          align-items: center;
          button {
            cursor: url(./images/cursor.png), auto;
            border: none;
            border-radius: 8px;
            height: 48px;
            padding: 0 48px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem;
            &.add-to-cart {
              background: radial-gradient(circle, rgba(0,216,254,0.7861519607843137) 60%, rgba(255,242,108,1) 92%);
              color: #fff;
              margin-right: 24px;
            }
            &.subscribe {
              background: radial-gradient(circle, rgba(255,242,108,1) 12%, rgba(255,206,206,0.09427521008403361) 73%, rgba(0,216,254,1) 97%);
              color: #fff;
            }
          }
          button:hover {
            color: black
          }
        }

      }
    }
  }
}
